<section
  class="section hero-bg text-white h-screen flex items-center justify-center text-center"
>
  <div id="particles-js" class="absolute inset-0"></div>
  <div class="flex flex-col md:flex-row items-center justify-evenly z-10">
    <div class="show flex-1 min-w-52">
      <img
        src="assets/media/imgs/logo-1.png"
        alt="logo"
        class="main-img animate__animated animate__backInDown w-52"
      />
    </div>
    <div class="info text-amber-50 text-start pl-3 max-w-2xl">
      <p class="hello italic font-bold text-lg text-amber-600" translate="no">
        Hello I'am?
      </p>
      <h2
        #typingElement
        id="typing"
        class="h-fit font-extrabold"
        translate="no"
      ></h2>
      <p class="text-lg md:text-xl mb-8 animate__animated animate__fadeInUp">
        Crafting responsive, dynamic, and user-friendly web applications with
        modern technologies to bring your ideas to life.
      </p>
      <div class="relative w-fit h-fit mt-4 mr-14 ml-auto md:mr-0 md:ml-0">
        <a routerLink="/projects">
          <button
            class="text-sm font-medium px-4 py-2 relative bg-gradient-to-r from-red-600 to-amber-500"
          >
            Explore Me
          </button>
        </a>
        <span class="z-10"></span>
      </div>
    </div>
  </div>
</section>

<!-- about -->
<section id="about" class="section sect-about bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2
      translate="no"
      class="text-3xl md:text-4xl font-bold text-blue-900 text-center mb-8 animate__animated animate__fadeIn"
    >
      About Me
    </h2>
    <p
      class="text-lg text-gray-700 max-w-3xl mx-auto animate__animated animate__fadeInUp"
    >
      I'm Ahmed, a dedicated Front-End Developer with a passion for creating
      seamless and innovative web experiences. With expertise in JavaScript,
      TypeScript, HTML, and CSS, I specialize in building responsive and dynamic
      applications tailored to client needs.
    </p>
    <div class="relative h-fit mt-4 text-center text-white">
      <a routerLink="/about">
        <button
          translate="no"
          class="text-sm font-medium px-4 py-2 relative bg-gradient-to-r from-red-600 to-amber-500"
        >
          About Me
        </button>
      </a>
    </div>
  </div>
</section>

<!-- skills -->
<section id="skills" class="section bg-gray-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2
      class="text-3xl md:text-4xl font-bold text-blue-900 text-center mb-8 animate__animated animate__fadeIn"
    >
      Skills
    </h2>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
      <div
        class="skill bg-white p-4 rounded-lg shadow-md flex items-center justify-center gap-2 hover:bg-orange-50"
      >
        <i class="fab fa-js text-yellow-500 text-xl"></i> JavaScript
      </div>
      <div
        class="skill bg-white p-4 rounded-lg shadow-md flex items-center justify-center gap-2 hover:bg-blue-50"
      >
        <i class="fas fa-code text-blue-900 text-xl"></i> TypeScript
      </div>
      <div
        class="skill bg-white p-4 rounded-lg shadow-md flex items-center justify-center gap-2 hover:bg-orange-50"
      >
        <i class="fab fa-html5 text-orange-500 text-xl"></i> HTML5
      </div>
      <div
        translate="no"
        class="skill bg-white p-4 rounded-lg shadow-md flex items-center justify-center gap-2 hover:bg-blue-50"
      >
        <i class="fab fa-css3-alt text-blue-500 text-xl"></i> CSS3
      </div>
      <div
        class="skill bg-white p-4 rounded-lg shadow-md flex items-center justify-center gap-2 hover:bg-purple-50"
      >
        <i class="fab fa-bootstrap text-purple-600 text-xl"></i> Bootstrap
      </div>
      <div
        translate="no"
        class="skill bg-white p-4 rounded-lg shadow-md flex items-center justify-center gap-2 hover:bg-orange-50"
      >
        <i class="fab fa-git-alt text-orange-600 text-xl"></i> Git/GitHub
      </div>
      <div
        class="skill bg-white p-4 rounded-lg shadow-md flex items-center justify-center gap-2 hover:bg-pink-50"
      >
        <!-- <i class="fas fa-pen-nib text-pink-500 text-xl"></i> -->
        <i class="fa-brands fa-figma text-pink-500 text-xl"></i>
        Figma
      </div>
      <div
        translate="no"
        class="skill bg-white p-4 rounded-lg shadow-md flex items-center justify-center gap-2 hover:bg-blue-50"
      >
        <!-- <i class="fas fa-code-branch text-blue-900 text-xl"></i> -->
        <i class="fa-brands fa-angular text-red-700 text-xl"></i>
        Angular
      </div>
    </div>
  </div>
</section>

<section id="certifications" class="section bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2
      class="text-3xl md:text-4xl font-bold text-blue-900 text-center mb-8 animate__animated animate__fadeIn"
    >
      Certifications
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 max-w-3xl mx-auto">
      <div
        class="text-center bg-gray-50 p-4 rounded-lg shadow-md animate__animated animate__fadeInUp"
      >
        JavaScript Bootcamp - Elzero School (2024)
      </div>
      <div
        class="text-center bg-gray-50 p-4 rounded-lg shadow-md animate__animated animate__fadeInUp"
      >
        HTML & CSS Fundamentals - Elzero School (2024)
      </div>
      <div
        class="text-center bg-gray-50 p-4 rounded-lg shadow-md animate__animated animate__fadeInUp"
      >
        Git and GitHub - Big Data Channel (2024)
      </div>
      <div
        class="text-center bg-gray-50 p-4 rounded-lg shadow-md animate__animated animate__fadeInUp"
      >
        Angular Development - ITI YouTube & Tag Channel (2024)
      </div>
    </div>
  </div>
</section>
